.lmj-banner {
    color: black;
    text-align: right;
    padding: 15px;
    border-bottom: solid 3px rgba(0, 0, 0, 0.67);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.lmj-title {
    padding-left: 32px;
}

.lmj-logo {
    height: 45px;
    width: 45px;
}